<beans>
    <bean id="source" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="url" value="jdbc:postgresql://ec2-79-125-12-27.eu-west-1.compute.amazonaws.com/d7reisj10l7hbe"/>
        <property name="username" value="zyjljzwtwnnpxi"/>
        <property name="password" value="899a358db5b9489a92bc181c026ccdb0230b20f2def45b0d0f64863b49773fc1"/>
        <property name="maxTotal" value="4"/>
        <property name="testOnBorrow" value="true"/>
    </bean>

    <!-- DAO -->
    <bean id="userDao" class="com.study.onlineshop.dao.jdbc.JdbcUserDao">
        <property name="source" ref="source"/>
    </bean>

    <bean id="productDao" class="com.study.onlineshop.dao.jdbc.JdbcProductDao">
        <property name="source" ref="source"/>
    </bean>

    <!-- Services -->
    <bean id="userService" class="com.study.onlineshop.service.impl.DefaultUserService">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="securityService" class="com.study.onlineshop.service.impl.DefaultSecurityService">
        <property name="userService" ref="userService"/>
        <property name="sessionAge" value="3600"/>
    </bean>

    <bean id="productService" class="com.study.onlineshop.service.impl.DefaultProductService">
        <property name="productDao" ref="productDao"/>
    </bean>

    <bean id="cartService" class="com.study.onlineshop.service.impl.DefaultCartService"/>
</beans>

